/* Define color variables */
/* :root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
} */

/* Apply font styles */
/* body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
} */

/* h1, h2, h3, h4 {
    font-family: var(--header-font);
    color: var(--text-color);
} */

/* header {
    background: linear-gradient(135deg, #007bff, #00d4ff);
  } */

  /* Navbar styles */
/* .navbar {
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* .navbar a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
} */

/* Footer styles */
/* .footer {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
} */

/* Button styling */
/* .btn-primary {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */

/* .btn-primary:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

/* Card styles */
/* .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: #fff;
} */

/* .card:hover {
    transform: scale(1.05);
} */

/* .card img {
    width: 100%;
    height: auto;
} */

/* .card-content {
    padding: 15px;
} */


/* Fade-in animation */
/* .fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
} */


/* Custom scrollbar styling */
/* ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
} */


/* Responsive design for smaller screens */
/* @media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

    .card {
        margin-bottom: 20px;
    }
} */


